## List and Tuple

- list is a collection different data types (same in tuple).
- list is ordered (same in tuple).
- list is indexed (same in tuple).
- repeative elements can be allowed in list and tuple also.
- list is <b>mutable</b> and tuple is <b>Immutable</b>

In [1]:
x = [11, "hello", 4.5, True, 'hi',11,11,11]
print(x)

[11, 'hello', 4.5, True, 'hi', 11, 11, 11]

In [2]:
print(x[3])

True

In [3]:
x[2] = 1000
print(x)

[11, 'hello', 1000, True, 'hi', 11, 11, 11]

In [4]:
x = [11,22,33,44,55,66]
print(x[1:5])

[22, 33, 44, 55]

In [9]:
x = [11,22,33,44,55,66]
# x[1] = 1000
x[1:5] = [1000,200,23,54,234,23435,35]
print(x)

[11, 1000, 200, 23, 54, 234, 23435, 35, 66]

In [10]:
x = [11,22,33,44,55,66]
x[3] = "hello"
print(x)

[11, 22, 33, 'hello', 55, 66]

In [13]:
x = [1,2,3] * 3
y = [1,2,3] + [4,5,6]
# z = [1,2,3] - [4,5,6]     # error
print(x)   
print(y)
# print(z)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 4, 5, 6]

### Nested List

In [22]:
x = [1, 2, [3, 4, 5, [6, 7, 8, 9], 10, 11], 12]
print(x[2][3][2])

8

In [21]:
x = [11, 22, 33, 44, 55]
# x.append(6734)
# x.append("hello")
x.insert(0,"hello")
x.extend([22,32,2323,2323])
print(x)

['hello', 11, 22, 33, 44, 55]

In [1]:
# x = [1, 2, [3, 4, 5, [6, 7, 8, 9], 10, 11], 12]

# print(x[2][3][2])

x = [[1, 2, [3, 4, 5, 6], 7, 8, [9, 10, 11], 12]]


# x = [[1, 2, [3, 4, 5, 6,1000], 7, 8, [9, 10, 11], 12]]
# x[0][2].append(1000)
# print(x)
# x = [[1, 2, [3, 4, 5, 6], 7, 8,2000, [9, 10, 11], 12]]
x[0].insert(5,2000)
print(x)
# x = [[1, 2, [3, 4, 5, 6,], 7, 8, [9, 10,3000, 11], 12]]

[[1, 2, [3, 4, 5, 6], 7, 8, 2000, [9, 10, 11], 12]]

In [38]:
# x = [1,2,3] * 3
x = [ [] ] * 3
# x[2].append(100)
print(id(x[0]))
print(id(x[1]))
print(id(x[2]))
x[0].append(23)
print(x)

2179967596480
2179967596480
2179967596480
[[23], [23], [23]]

In [39]:
x = [[],[],[] ]
x[0].append(100)
print(x)

[[100], [], []]

In [41]:
x = [1,2,3] 
print(type(x))

<class 'list'>

In [4]:
x = [1, 2, [3, 4 ,[5, 6, 7, 8], 9, 10], 11, 12]

# y = x[2]
# print(y)

# y.insert(2,1000)
# print(y)

x[2].insert(2,1000)
print(x)
# x = [1, 2, [3, 4 ,1000,[5, 6, 7, 8], 9, 10], 11, 12]

[1, 2, [3, 4, 1000, [5, 6, 7, 8], 9, 10], 11, 12]

In [7]:
x = [11, 22,33,44,55,1,23,32]


print(min(x))
print(max(x))
print(sum(x))
x.sort()
x.sort(reverse = True)
print(x)

1
55
221
[55, 44, 33, 32, 23, 22, 11, 1]

In [8]:
x = ["hello","hi","bye"]


print(min(x))
print(max(x))
# print(sum(x))
x.sort()
# x.sort(reverse = True)
print(x)

bye
hi
['bye', 'hello', 'hi']

In [9]:
x = "snow world"
x[3] = "s"
print(x)

TypeError: 'str' object does not support item assignment

In [10]:
x = [11,22,33]
x.append(100)
print(x)

[11, 22, 33, 100]

In [19]:
x = [11,22,33,44,55,33,33,44]
# x.remove(33)
# del x
# del x[4]
# del x[1:4]
# z = x.pop()
# z = x.pop(2)
x.clear()
print(x)
# print(z)

[]

In [22]:
x = [11,22,33,44,55,33,33,44]
print(len(x))
print(x.index(55))
print(x.count(33))

8
4
3

In [24]:
x = [11,22,33,44,55]

if 33 in x:
    print("present")
else:
    print("not present")
    
if 33 not in x:
    print("not present")
else:
    print("present")

present
present

In [27]:
x = [1,2,3]
y = [1,23,3]

print(x == y)
print(x is y)
print(id(x))
print(id(y))

True
False
2294720353408
2294685534528

In [30]:
x = ["hello","hi","hey"]

for i in x:
    print(i)
    
for i in range(len(x)):
    print(i,"---",x[i])

hello
hi
hey
0 --- hello
1 --- hi
2 --- hey

In [34]:
## wap to multiply top two elements from  the given list
x = [1,21,3,4,55,5,6]
x.sort(reverse = True)
print(x)
print(x[0]*x[1])

[55, 21, 6, 5, 4, 3, 1]
1155

In [36]:
# wap to sum and multiply all elements from each other from the given 
x = [1,2,3,4,5]

sum = 0
mul = 1
for i in x:
    sum = sum + i
    mul = mul * i
    
print("sum = ",sum)
print("mul = ",mul)

sum =  15
mul =  120

### wap to remove all 33 from the list

In [45]:
x = [11,22,33,44,55,33,33,44]

# output:-
# z = [11,22,44,55,44]
z = []
for i in x:
    if i == 33:
        continue
    z.append(i)
print(z)

[11, 22, 44, 55, 44]
[11, 22, 33, 44, 55, 33, 33, 44]

In [47]:
x = [11,22,33,44,55,33,33,44,33]

z = []
for i in x:
    if i == 33:
        x.remove(33)
print(x)

[11, 22, 44, 55, 44, 33]

In [48]:
x = [11,22,33,44,55,33,33,44,33]

while 33 in x:
    x.remove(33)
print(x)

[11, 22, 44, 55, 44]

In [55]:
c = [ (i*i) for i in range(5)]
print(c)

[0, 1, 4, 9, 16]

In [56]:
x = [11,22,33,44,55,33,33,44,33]
z = [ i  for i in x if i != 33 ]
print(z)

[11, 22, 44, 55, 44]

In [57]:
x = ["hello","hi"]
y = ["sonu","monu"]

# z = ["hello sonu","hello monu","hi sonu","hi monu"]
z = []
for i in x:
    for j in y:
        z.append(i+" "+j)
        
print(z)

['hello sonu', 'hello monu', 'hi sonu', 'hi monu']

In [1]:
x = ["hello","hi","hey"]
y = ["sonu","monu"]


z = [i+" "+j for i in x for j in y]
print(z)

['hello sonu', 'hello monu', 'hi sonu', 'hi monu', 'hey sonu', 'hey monu']

In [60]:
x = int(input("enter a number = "))

c = 0
for i in range(1,x):
    if(x % i == 0):
        c = c + i
        
        
if x == c:
    print( x,"is a perfect number")
    
else:
    print(x,"is not a perfect number")

enter a number = 564
564 is not a perfect number