In [1]:
x = ['a','b','c']
y = 0

# output:-
# z ={'a':0,'b':0,'c':0}
z = {}
for i in x:
    z[i] = y
print(z)

{'a': 0, 'b': 0, 'c': 0}

In [2]:
x = ['a','b','c']
y = [1,2,3]

# output:-
# z ={'a':1,'b':2,'c':3}
z = {}
for i in range(len(x)):
    z.update({x[i]:y[i]})
print(z)

{'a': 1, 'b': 2, 'c': 3}

In [3]:
x = {
    1:[1,2,3],
    2:(4,5,6)
}
x[1].append(100)
print(x[1])
y = [x[2]]
y.append(200)
x[2] = tuple(y)
print(x[2])

[1, 2, 3, 100]
((4, 5, 6), 200)

In [6]:
x={'a':11,'b':22}
y={'b':22,'a':11}

print(x == y) # False
# print(x <= y) # error

True

In [7]:
x = {}
for i in range(3):
    for j in range(2):
        x[i] = j
print(x)

{0: 1, 1: 1, 2: 1}

In [8]:
x = {
    'a':11,
    'b':22,
    'c':33
}

z = {}
for i,j in x.items():
    z[j] = i
print(z)

{11: 'a', 22: 'b', 33: 'c'}

In [16]:
x = "hello how are you"
# output
z = {}

for i in range(len(x)):
    if x[i] not in z:
        z[x[i]] = [i]
    else:
        z[x[i]].append(i)
print(z)

{'h': [0, 6], 'e': [1, 12], 'l': [2, 3], 'o': [4, 7, 15], ' ': [5, 9, 13], 'w': [8], 'a': [10], 'r': [11], 'y': [14], 'u': [16]}

In [17]:
x = {}
x[1] = 1
x['1'] = 2
x[1] = x[1]+1
c = 0
for i in x:
    c =  c +x[i]
print(c)

4

In [18]:
x = {}
x[1] = 1
x['1'] = 4
x[1.0] = x[1]+1
c = 0
for i in x:
    c =  c +x[i]
print(c)

6

In [20]:
x = {
    'a':1,
    'b':2,
    'c':3
}
x['a'] = 90
x['d']  = 90
print(x)

{'a': 90, 'b': 2, 'c': 3, 'd': 90}

In [25]:
x = {
    'a':1,
    'b':2,
    'c':3
}
print(x.get('a',"b"))
# x.get('a',"key not found")
# print(x)

1

In [27]:
x = {
    'a':1,
    'b':27654,
    'c':3
}
x['d'] = x.pop('b')
print(x)

{'a': 1, 'c': 3, 'd': 27654}

In [28]:
x = {
    'a':1,
    'b':2,
    'c':3
}
x['d'] = x.pop('b')
print(x)

{'a': 1, 'c': 3, 'd': 2}

In [29]:
x = {
    'a':1,
    'b':2,
    'c':3
}

s = 0
m = 1

for i in x.values():
    s = s + i
    m = m * i
    
print("sum =",s)
print("mul =",m)

sum = 6
mul = 6

In [30]:
x = [i for i in range(1,6)]
print(x)

[1, 2, 3, 4, 5]

In [31]:
x = {i:i*i for i in range(1,6)}
print(x)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [32]:
s1={3, 4}
s2={1, 2}
s3=set()
i=0
j=0
for i in s1:
    for j in s2:
        s3.add((i,j))
        i+=1
        j+=1
print(s3)
# a) {(3, 4), (1, 2)}
# b) Error
# c) {(4, 2), (3, 1), (4, 1), (5, 2)}
# d) {(3, 1), (4, 2)}

{(3, 1), (4, 1), (4, 2), (5, 2)}