In [2]:
for i in range(1,10,2):            #range(start,stop,step)
    print(i,end=" ")

1 3 5 7 9

In [3]:
for i in range(1,10):            #range(start,stop,step = 1)
    print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [4]:
for i in range(10):            #range(start=0,stop,step = 1)
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [6]:
for i in range(2,101,2):            #range(start=0,stop,step = 1)
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [8]:
for i in range(10,0,-1):
    print(i,end=" ")

10 9 8 7 6 5 4 3 2 1

In [9]:
for i in range(-10,0):
    print(i,end=" ")

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1

In [15]:
x = "hello"

# print(x[0],x[1],x[2],x[3],x[4])

# for i in x:
#     print(i)
    
for i in range(len(x)):
    print(i,"----",x[i])

0 ---- h
1 ---- e
2 ---- l
3 ---- l
4 ---- o

### wap to calculate the factors of a input number

In [24]:
x = int(input("enter a number = "))

c = 0
for i in range(1,x+1):
    if(x % i == 0):
        c = c + 1
        print("the factor of ",x,"is =",i)
        
print("Total Factors =",c)

enter a number = 5
the factor of  5 is = 1
the factor of  5 is = 5
Total Factors = 2

### wap to swap two numbers

In [26]:
x = 5
y = 6

print("before swapping",x)
print("before swapping",y)

temp = x
x = y
y = temp
print("after swapping",x)
print("after swapping",y)

before swapping 5
before swapping 6
after swapping 6
after swapping 5

In [27]:
x = 5
y = 6

print("before swapping",x)
print("before swapping",y)

x = x + y
y =  x - y
x = x - y
print("after swapping",x)
print("after swapping",y)

before swapping 5
before swapping 6
after swapping 6
after swapping 5

In [28]:
x = 5
y = 6

print("before swapping",x)
print("before swapping",y)

x,y = y,x

print("after swapping",x)
print("after swapping",y)

before swapping 5
before swapping 6
after swapping 6
after swapping 5

### wap to print the factorial of input number

In [32]:
x = int(input("enter a number = "))

fact =  1
for i in range(1,x+1):
    fact = fact * i
    
print("the factorial of ",x,"is =",fact)

enter a number = 5
the factorial of  5 is = 120

In [2]:
x = int(input("enter a  1st number = "))
y = int(input("enter a  2nd number = "))
z = int(input("enter a  3rd number = "))

if x > y:
    if x > z:
        print(x,"is greater")
    else:
        print(z,"is greater")
else:
    if y > x:
        if y > z:
            print(y,"is greater")
        else:
            print(z,"is greater")

enter a  1st number = 4
enter a  2nd number = 6
enter a  3rd number = 3
6 is greater

In [8]:
x = "hello how are you"
# y = x[ : : -1]
y = x.split(" ")
print(" ".join( y[::-1]))

you are how hello

## while loop

In [8]:
# i = 0
# while(i<=5):
#     print(i)
#     i = i + 1
    
##----------------------
i = 0
while(i<=5):
    print(i)
    i = i + 1
else:
    print("bye")

0
1
2
3
4
5
bye

### wap to reverse a number ex - 1234 ->4321

In [3]:
x = int(input("enter a number = "))
rev = 0
while(x > 0):
    rem = x %10
    rev = (rev * 10)+rem
    x = x //10

print("reversed number = ",rev)

enter a number = 1234
reversed number =  4321

In [5]:
x = int(input("enter a number = "))
rev = 0
temp = x
while(x > 0):
    rem = x %10
    rev = (rev * 10)+rem
    x = x //10

if rev == temp:
    print("it is palindrome")
else:
    print("not palindrome")

enter a number = 1234
not palindrome

## wap to print the fibbonacci series
### 0 1 1 2 3 5 8 13...

In [6]:
x = 0
y = 1

while(x < 10):
    print(x)
    x,y = y,x+y

0
1
1
2
3
5
8

## Nested Loop

In [12]:
for i in range(1,6):              #outer loop
    for j in range(1,i+1):        #inner loop
        print("*",end= " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [13]:
print("hello "*5)

hello hello hello hello hello

In [14]:
i = 1
while(i<=5):
    print("* " * i)
    i = i + 1

*
* *
* * *
* * * *
* * * * *

In [15]:
i = 5
while(i > 0):
    print("* " * i)
    i = i - 1

* * * * *
* * * *
* * *
* *
*

### Break,continue and pass

In [16]:
for i in range(1,5):
    if i == 3:
        break
    print(i)

1
2

In [17]:
for i in range(1,5):
    if i == 3:
        continue
    print(i)

1
2
4

In [19]:
if(10 > 5):
    pass
print("hello")

hello

In [27]:
x = int(input("enter a number = "))
y = int(input("enter a number = "))
for i in range(x,y+1):
    if i > 1:
        for j in range(2,i):
            if (i%j == 0):
                break
        else:
            print(i)

enter a number = 1
enter a number = 50
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [5]:
i = 1
while(i <= 5):
    print(" "*(5-i)+ "*" * i)
    i = i + 1

    *
   **
  ***
 ****
*****

In [6]:
i = 1
while(i <= 5):
    print(" "*(5-i)+ "* " * i)
    i = i + 1

    *
   * *
  * * *
 * * * *
* * * * *

In [7]:
x = int(input("enter a number = "))

y =  str(x)
x = int(y[: : -1])
print(x)

enter a number = 566534
435665

In [8]:
c = 0
for i in range(1,50):
    for j in range(2,i):
        if (i%j == 0):
            c = c + 1
            break;
    else:
        c =c + 1
        print(c)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47