## Set ----->  {}
- set is a collection unique elements.
- set is unordered.
- set is unindexed.
- set is immutable.

In [1]:
x = {1,"hello",2.5,'hi',1,1,1}
print(x)

{'hello', 1, 2.5, 'hi'}

In [3]:
x = {11,22,33,44}
# x.add(78)
x.add(33)
print(x)

{33, 11, 44, 22}

In [4]:
x = {11,22,33,44}

x.update({55,66,77})

print(x)

{33, 66, 22, 55, 11, 44, 77}

In [7]:
x = {11,22,33,44}
y ={55,66,77}

# x.update(y)
z = x.union(y)

print(x)
print(z)

{33, 11, 44, 22}
{33, 66, 22, 55, 11, 44, 77}

In [10]:
x = {1,2,3,4}
y ={1,5,6,4}

z = x.difference(y)
f = x.symmetric_difference(y)
c = x.intersection(y)
print(z)
print(f)
print(c)

{2, 3}
{2, 3, 5, 6}
{1, 4}

In [19]:
x = {11,22,3113,441,1155,545,55,55}

# x.remove(55)
# x.remove(66)
# x.discard(55)
# x.discard(66)
# del x
# x.clear()
x.pop()
print(x)

{1155, 22, 55, 441, 3113, 11}

In [17]:
z = set()
z.add(4)
print(z)

{1, 2, 4}

In [20]:
x = [11,22,33,44,44,55,66,11]

# z = [11,22,33,44,55,66]
z = []
for i in x:
    if i not in z:
        z.append(i)
print(z)

[11, 22, 33, 44, 55, 66]

In [21]:
x = [11,22,33,44,44,55,66,11]
y = set(x)
print(list(y))

[33, 66, 11, 44, 22, 55]

In [26]:
x = [1,2,3]
y = [1,2,4]

# print(x-y)
print(list(set(x)-set(y)))

[3]

In [29]:
z =  "abc"

y = set(u)
f = list(u)
print(y)
print(f)

TypeError: 'int' object is not iterable